<div class="flex items-center justify-center h-screen bg-slate-100">
  <mat-card class="flex h-auto w-3/4 md:w-5/12 lg:w-1/4">
    <mat-card-header class="justify-center items-center">
      <mat-card-title class="text-3xl">Bienes <span class="text-fuchsia-800">Raices</span></mat-card-title>
      <mat-card-subtitle class="flex justify-center items-center">Recuperar contraseña</mat-card-subtitle>
    </mat-card-header>

    <label class="flex justify-center items-center mt-5">Ingrese su email para proceder con la recuperacion</label>

    <mat-card-content class="mt-2">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full mb-3">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"/>
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>

        <ul class="flex align-middle justify-end mb-1">
          <li class="cursor-pointer hover:text-red-500 hover:font-bold"><a (click)="goTo('/login')">Volver</a></li>
        </ul>
        <button mat-button class="bg-sky-200 h-10 w-full ">Ingresar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
