<div class="bg-slate-100 h-screen overflow-hidden">
  <div class="absolute mt-2 ml-2">
    <button mat-raised-button color="warn" class="hover:bg-red-900" (click)="goTo('/')" >Home</button>
  </div>
  <div class="flex items-center justify-center h-full max-h-screen-md -m-10">
    <mat-card class="flex h-auto w-3/4 md:w-5/12 lg:w-1/4">
      <mat-card-header class="justify-center items-center">
        <mat-card-title class="text-3xl">Bienes <span class="text-fuchsia-800">Raices</span></mat-card-title>
        <mat-card-subtitle class="flex justify-center items-center">Registrar Propiedad</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-10">
      </mat-card-content>
    </mat-card>
  </div>
</div>
