<div class="items-center justify-center align-middle bg-slate-100 h-screen">
  <app-navbar></app-navbar>

  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>

  <section class="flex justify-between">
    <button (click)="obtenerPropiedades()">Propiedades</button>
    <button (click)="obtenerPrices()">Precios</button>
    <button (click)="obtenerCategories()">Categories</button>
    <button (click)="obtenerMessages()">Messages</button>
  </section>

</div>



