<div class="bg-slate-100 h-screen overflow-hidden">
  <div class="flex mt-2 ml-2">
    <button mat-raised-button color="warn" (click)="goTo('/')" >Home</button>
  </div>
  <div class="flex items-center justify-center h-full max-h-screen-md -m-10">
    <mat-card class="w-3/4 md:w-5/12 lg:w-1/4 shadow-lg">
      <mat-card-header class="justify-center items-center">
        <mat-card-title class="text-3xl">Bienes <span class="text-fuchsia-800">Raices</span></mat-card-title>
        <mat-card-subtitle class="flex justify-center items-center">Login</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="mt-10">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email"/>
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>

          <mat-form-field class="w-full mt-5">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required/>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <ul class="flex align-middle justify-between mb-1">
            <li class="cursor-pointer hover:text-cyan-500"><a (click)="goTo('/register')">Registrarse</a></li>
            <!-- <li class="cursor-pointer hover:text-cyan-500"><a (click)="goTo('/forgotPassword')">Olvide el password</a></li> -->
            <!-- <li class="cursor-pointer hover:text-red-500"><a (click)="goTo('/')">Home</a></li> -->
          </ul>
          <button mat-button class="bg-sky-200 h-10 w-full ">Ingresar</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
