<div class="bg-slate-100 h-screen overflow-hidden">
  <div class="flex mt-2 ml-2">
    <button mat-raised-button color="primary" (click)="goTo('/login')" >Login</button>
  </div>
  <div class="flex items-center justify-center h-screen">
    <div class="flex text-center mb-40">
      <mat-card class="shadow-lg ">
        <div class="p-5">
          <p class="text-green-500 font-bold text-xl">Usuario Registrado</p>
          <p class="text-lg">
            Revisa tu correo electronico, te hemos enviado un correo de confirmación con un link.
          </p>
          <br>
          <p class="text-sm">
            Luego de darle al link, regresa a esta pestaña y haz click en el boton de Login arriba a la izquierda.
          </p>
        </div>

      </mat-card>
    </div>
  </div>
</div>
