<div class="bg-slate-100 h-screen overflow-hidden">
  <div class="flex mt-2 ml-2">
    <button mat-raised-button color="warn" (click)="goTo('/')" >Home</button>
  </div>
  <div class="flex items-center justify-center h-full max-h-screen-md -m-10">
    <mat-card class="w-3/4 md:w-5/12 lg:w-1/4 shadow-lg">
      <mat-card-header class="justify-center items-center">
        <mat-card-title class="text-3xl">Bienes <span class="text-fuchsia-800">Raices</span></mat-card-title>
        <mat-card-subtitle class="flex justify-center items-center">Cambiar password</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="mt-10">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required/>
            <button mat-icon-button matSuffix (click)="showPassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w-full mt-5">
            <mat-label>Repeat password</mat-label>
            <input matInput formControlName="repeatPassword" [type]="hideRepeatPassword ? 'password' : 'text'" required/>
            <button mat-icon-button matSuffix (click)="showRepeatPassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatPassword">
              <mat-icon>{{ hideRepeatPassword ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <div *ngIf="error" style="text-align: center; color: red;">
              <span>{{ errorMessage }}</span>
            </div>

          <button mat-button class="bg-sky-200 h-10 w-full">Cambiar password</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
